body {
    margin: 0;
}

/* .navTop {
    float: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
} */

.navTop {
    margin: 10% auto 0 auto;
    max-width: 2000px;
    font-size: 200%;
}

a {
    color: black;
}

a:hover {
    color: grey;
}